.copy-code-button{
  color: $color1-5;
  padding: $small;
  position: absolute;
  bottom: 0;
  right:0;
  border: 1px solid $color1-5;
  cursor: pointer;
  background-color: $color1-5;
  color: $color3;
  opacity: 0.5;
  &:hover{
    background-color: $color1-5;
    color: $color3;
    opacity: 1;
  }
}

.code-to-copy{
  position: relative;
}