.search{
  float:left;
  width: 100%;
  padding: $large;
  background-color: rgba($color1-5,1);
  position: relative;
  &-input{
    width: 100%;
    max-width: 300px;
    padding: $base;
    outline: 0;
    border: 0;
    color: rgba($color3,0.8);
    box-shadow: 2px 2px 2px $color1-5 - 5;
    background-color: rgba($color1-5 + 60, 0.1);
    transition: all 0.2s ease-in;
    &::-webkit-input-placeholder{
      color: $color1-5 + 35;
    }

    &:focus{
      box-shadow: 2px 2px 2px $color1-5 - 10;
      background-color: rgba($color1-5 + 125, 0.1);
    }
  }
}